@model AddBudgetVm

@{
    Layout = "_Layout";
}

@using (Html.BeginForm("AddBudget", "Budget", FormMethod.Post))
{
    <div class="form-outline mb-4">
        <input asp-for="Name" type="text" id="name" class="form-control"/>
        <label class="form-label" for="name">Name</label>
        <div>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="form-outline mb-4">
        <input asp-for="Amount" type="number" id="amount" class="form-control"/>
        <label class="form-label" for="amount">Amount</label>
        <div>
            <span class="text-danger" asp-validation-for="Amount"></span>
        </div>
    </div>

    // Add start date and end date
    <div class="form-outline mb-4">
        <input asp-for="StartDate" type="date" id="startDate" class="form-control"/>
        <label class="form-label" for="startDate">Start date</label>
        <div>
            <span class="text-danger" asp-validation-for="StartDate"></span>
        </div>
    </div>

    <div class="form-outline mb-4">
        <input asp-for="EndDate" type="date" id="endDate" class="form-control"/>
        <label class="form-label" for="endDate">End date</label>
        <div>
            <span class="text-danger" asp-validation-for="EndDate"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Add budget</button>
}