@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@inject IViewLocalizer Localizer

<div class="mx-auto text-center my-5">
    <h1>@Localizer["BankingWelcomeMessage"].Value</h1>
    <p>@Localizer["BankingDescriptionMessage"].Value</p>
</div>

<div class="mt-3 mb-5 mx-auto text-center">
    <p>@Localizer["BankingMakePaymentMessage"].Value</p>
    <a asp-controller="Payment" asp-action="Payment">@Localizer["BankingPaymentMessage"].Value</a>
</div>


<div class="banking-main-container">
    <div class="banking-main-container-child" id="cardContainer1">
    </div>
    <div class="banking-main-container-child" id="cardContainer2">
    </div>
</div>


<script>
subscribeForBankingInfo();
getBankingInfo();
</script>