/*html {*/
/*  font-size: 14px;*/
/*}*/

/*@media (min-width: 768px) {*/
/*  html {*/
/*    font-size: 16px;*/
/*  }*/
/*}*/

/*html {*/
/*  position: relative;*/
/*  min-height: 100%;*/
/*}*/

/*body {*/
/*  margin-bottom: 60px;*/
/*}*/

/*.row-container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin-bottom: 20px;*/
/*}*/
/*.goal-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  width: calc(33.33% - 20px);*/
/*  padding: 0 10px;*/
/*  box-sizing: border-box;*/
/*}*/
/*.goal-name {*/
/*  font-weight: bold;*/
/*  margin-bottom: 5px;*/
/*}*/
/*.goal-type {*/
/*  font-weight: bold;*/
/*  margin-bottom: 5px;*/
/*}*/
/*.goal-description {*/
/*  margin-bottom: 10px;*/
/*}*/
/*.goal-progress-bar {*/
/*  height: 20px;*/
/*  width: 100%;*/
/*  background-color: #e0e0e0;*/
/*  position: relative;*/
/*  margin-bottom: 5px;*/
/*}*/
/*.goal-progress {*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*}*/
/*.income-green {*/
/*  background-color: green;*/
/*}*/
/*.income-red {*/
/*  background-color: red;*/
/*}*/
/*.expense-red {*/
/*  background-color: red;*/
/*}*/
/*.expense-green {*/
/*  background-color: green;*/
/*}*/
/*.goal-percentage {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  color: #fff;*/
/*  font-weight: bold;*/
/*}*/
/*.goal-tips {*/
/*  margin-top: 10px;*/
/*}*/


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.goal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px);
  padding: 0 10px;
  box-sizing: border-box;
}

.goal-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.goal-type {
  font-weight: bold;
  margin-bottom: 5px;
}

.goal-description {
  margin-bottom: 10px;
}

.budget-name {
  margin-bottom: 5px;
}

.goal-progress-bar {
  height: 20px;
  width: 100%;
  background-color: #e0e0e0;
  position: relative;
  margin-bottom: 5px;
}

.goal-progress {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.income-green {
  background-color: green;
}

.income-red {
  background-color: red;
}

.expense-red {
  background-color: red;
}

.expense-green {
  background-color: green;
}

.goal-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}

.goal-tips {
  margin-top: 10px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 12%;
}

.pagination{
  margin-top: 50px;
  margin-left: auto;
    margin-right: auto;
  display: grid;
  grid-gap: 10px;
  max-width: 100px;
  justify-content: space-evenly;
  grid-auto-flow: column;
}

.pagination button{
  width: 50px;
}

.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
  max-height: 22vh;
  margin-bottom: 7vh;
}

.main-page-card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  vertical-align: middle;
}

.banking-main-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  /*align-items: center;*/
  grid-gap: 10px;
}

.banking-main-container-child{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}